<h2>タイトル</h2>
<p><%= @post.title %></p>
<h2>詳細</h2>
<p><%= @post.description %></p>
<%= link_to '編集する', edit_post_path(@post.id) %>
<br>
<%= button_to '削除する', post_path(@post.id), method: :delete %>
<br>
<%= link_to '投稿一覧ページへ', posts_path %>